.confirmation_container {
    padding-left: 25px;
    padding-right: 25px;    
    padding-top: 60px;
    width: 100%;

}

.topBar {
    display: flex;
    justify-content: space-between;
}
.guy-container {
    width: 20px;
}

.Footer {
    width: 100%;
    margin-top: 1000px;
}
