.cardbody {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.text-center {
	position: relative;
	z-index: 20;
	top: 55px;
}

.carta {
	position: relative;
	top: 45px;
}

.card {
	border-radius: 15px;
	box-shadow: 1px 15px 25px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 15px 25px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 15px 25px 0px rgba(0, 0, 0, 0.3);
	width: 15rem;
}

@media (max-width: 768px) {
	.cardbody {
		display: flex;
		flex-direction: column;
	}

	.card {
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 1rem;
		width: 90%;
	}
}
