.navbar {
  height: 3.8em;
  width: 100%;
  background-color: #f23827;
  justify-content: space-evenly;
}

a {
  color: #b63f32;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.mobile a {
  text-align: center;
  color: #b63f32;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  color: #efefef;
}

.active_link {
  text-decoration: none;
  color: #efefef;
  font-weight: bold;
}

.mobile .active_link {
  color: #efefef;

  text-align: center;
  font-size: 2rem;
}

.navbar h6 {
  margin: 0;
  color: #efefef;
  font-size: 1.2rem;
}
.navbar img {
  width: 2.5rem;
  border-radius: 20%;
}

.offcanvas-start {
  border: none;
}

.navbar-light .navbar-toggler {
  display: none;
  border: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("./hamburger-menu-svgrepo-com.svg");
}

.offcanvas {
  max-width: 60%;
  background-color: #d9411e;
}

.navbar svg {
  height: 32px;
  width: 32px;
}

.cart-box {
  position: relative;
}

.navlink-logo {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
}

.cart-box .cart-bubble {
  position: absolute;
  height: 17px;
  width: 17px;
  border-radius: 20px;
  top: -8px;
  right: -4px;
  border: 1px solid #f23827;
  background-color: #efefef;
  color: #222;
  font-weight: bold;
}

.cart-box .cart-bubble span {
  font-size: 13px;
}

.cart-bubble-desktop-container {
  position: relative;
}

.cart-bubble-desktop {
  position: absolute;
  height: 17px;
  width: 17px;
  border-radius: 20px;
  top: -3px;
  right: -15px;
  border: 1px solid #f23827;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}
.wrapper {
  margin-left: 75px;
}

.nav {
  margin-left: 250px;
  position: relative;
}

.nav-title {
  font-family: Abril Fatface;
  position: relative;
  padding-left: 50px;
  bottom: auto;
}

.logo {
  position: relative;
  top: auto;
  max-height: 3.2em;
  border-radius: 25%;
  margin-left: -2.3em;
}

.toogle-menu,
.cart,
.cart-box {
  display: none;
}

.nav-link {
  color: #f2f1df;
  font-weight: bold;
}

.nav-links-desktop {
  flex-direction: row;
}

.logo-titulo h6 {
  font-family: "Abril Fatface", cursive;
}

@media (max-width: 990px) {
  .navbar {
    display: flex;
    justify-content: center;
  }
  .nav,
  .nav-title {
    display: none;
  }

  .nav-links-desktop {
    display: none !important;
  }

  .logo-titulo {
    display: none;
  }
  .navbar-light .navbar-toggler {
    display: inline;
  }

  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .toogle-menu,
  .cart,
  .cart-box {
    display: inline;
  }

  .cart {
    color: #efefef;
    transform: rotateY(180deg);
  }
}
