* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f23827;
  color: #f2f1df;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-family: "Abril Fatface", cursive;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  font-family: "Abril Fatface", cursive;
}

.navbar-links li a {
  text-decoration: none;
  color: #f2f1df;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #f2695c;
}

img {
  width: 3.4rem;
  border-radius: 20px;
}

.logo-container {
  display: flex;
}

.menu-drop {
  background-color: #f23827;
  font-family: "Abril Fatface", cursive;
}

.menu-item {
  background-color: #f23827;
  color: #f2f1df;
}

.btn-primary {
  color: #f2f1df;
  background-color: #f23827;
  border-color: #f23827;
  font-family: "Abril Fatface", cursive;
  display: none;
}

@media (max-width: 700px) {
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .navbar-links ul {
    width: 1000%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .logo-container {
    display: flex;
    margin-left: 40%;
    border-radius: 25px;
  }

  .brand-title {
    display: none;
  }
  .menu {
    display: flex;
    background-color: #f23827;
    color: #f2f1df;
    border-radius: 10px;
  }

  .btn-check:focus + .btn-primary,
  .btn-primary:focus,
  .btn-check:active + .btn-primary:focus,
  .btn-check:checked + .btn-primary:focus,
  .btn-primary:active:focus,
  .show > .btn-primary.dropdown-toggle:focus,
  .btn-check:active + .btn-primary,
  .btn-check:checked + .btn-primary,
  .btn-primary:active,
  .show > .btn-primary.dropdown-toggle,
  .btn-check:active + .btn-primary,
  .btn-check:checked + .btn-primary,
  .btn-primary.active,
  .show > .btn-primary.dropdown-toggle,
  .btn-primary:hover {
    color: #f2f1df;
    background-color: #f23827;
    border-color: #f23827;
    box-shadow: none;
    border-radius: 10px;
  }
  .btn-primary:hover,
  .btn-check:active + .btn-primary,
  .btn-check:checked + .btn-primary,
  .btn-primary:active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    background-color: #f2695c;
    border-radius: 10px;
  }
}
