.carousel.slide {
  height: 25rem;
  width: 100%;
}

.carousel-item {
  height: 25rem;
}

.carousel.slide img {
  object-fit: fill;
  max-height: 100%;
}

@media (max-width: 768px) {
  .carousel {
    top: 3.4em;
    display: block !important;
  }
  .carousel.slide {
    height: 250px;
    width: 100%;
  }
  .carousel-item {
    height: 250px;
    width: 100%;
  }
  .carousel.slide img {
    width: 100%;
    height: 40rem;
    max-height: 100%;
  }
}
