.footer{
    background-color: #f23827;
    color: #f2f1df;
    font-family: "Abril Fatface", cursive; 
    padding-top: 20px ; 
    padding-bottom: 20px;
}
.text-footer{
    text-align: center;
    display:flex ;
    align-items: center;
}
.icons{
    color: #f2f1df;
}
.icon{
    padding: 5px;
}
